@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Light.eot');
    src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Light.woff') format('woff'),
    url('../fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }
    @font-face {
        font-family: 'icomoon';
        src:  url('../fonts/icomoon.eot?48ufx6');
        src:  url('../fonts/icomoon.eot?48ufx6#iefix') format('embedded-opentype'),
          url('../fonts/icomoon.ttf?48ufx6') format('truetype'),
          url('../fonts/icomoon.woff?48ufx6') format('woff'),
          url('../fonts/icomoon.svg?48ufx6#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
      
      [class^="icon-"], [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      .icon-verify:before {
        content: "\e90f";
        /* color: #fff; */
      }
      .icon-arrow-down:before {
        content: "\e900";
        color: #868e96;
      }
      .icon-communication:before {
        content: "\e901";
        color: #fff;
      }
      .icon-contact:before {
        content: "\e902";
      }
      .icon-integration:before {
        content: "\e903";
        color: #fff;
      }
      .icon-left:before {
        content: "\e904";
        color: #fff;
      }
      .icon-like:before {
        content: "\e905";
        color: #fff;
      }
      .icon-phone:before {
        content: "\e906";
        /* color: #dadada; */
      }
      .icon-play:before {
        content: "\e907";
        color: #fff;
      }
      .icon-right:before {
        content: "\e908";
        /* color: #1db972; */
      }
      .icon-star:before {
        content: "\e909";
        color: #374d68;
      }
      .icon-star-bold:before {
        content: "\e90a";
        color: #f3bc2a;
      }
      .icon-world:before {
        content: "\e90b";
        color: #fff;
      }
      