/* Белая тема */
.main h1 {
    color: #06b734;
}
body {
    background-color: var(--bg-color-wh);
}
.black-text {
    color: var(--text-color-wh);
}
.article__card.flex {
    background: var(--card-bg-wh);
}
.ball-yellow {
    background: radial-gradient(96% 96% at 70.4% 31.2%, #FEEC5A 0%, rgba(0, 2, 16, 0) 100%), #FFD337;
box-shadow: 0px 0px 20px #FFE300, 60px 120px 80px #FEEC5A, 0px 4px 80px #FEEC5A, inset 0px 2px 10px rgba(255, 255, 255, 0.58), inset 10px 20px 100px #F9A400;
}
.mains-yellow {
    background: radial-gradient(96% 96% at 70.4% 31.2%, #FEEC5A 0%, rgba(0, 2, 16, 0) 100%), #FFD337;
    box-shadow: 0px 0px 20px #ffe300, 60px 120px 80px #feec5a, 0px 4px 80px #feec5a, inset 0px 2px 10px rgb(255 255 255 / 58%), inset 10px 20px 100px #f9a400;
}
.btn {
    background: transparent;
    border: 1px solid #000;
}
.footer h3 {
    color: #000;
}
.footer li a {
    color: #000;
}
.information h2 {
    color: #000;
}
a {
    color: #000;
}
