/* Переменные  */
:root {
    --green-color: #1DB972;
    --dark-color: #1E2B3E;
    --black-color: #060A0D;
    --text-link: #30CB1B;
    --background-color: #111;
    --green-btn-alt: linear-gradient(180deg, #30CB1B 0%, #1EBE74 100%);
    --font-title: 72px;
    --section-title: 38px;
  }
  /* Сбрасывающие стили */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Gotham Pro', sans-serif;
    color: #fff;
    line-height: 1.6;
    background-color: var(--background-color);
    scroll-behavior: smooth;
  }
  h1,h2, h3 {
    font-weight: 700;
    margin: 10px 0;
    /* line-height: 84px; */
  }
  p {
    margin: 10px 0;
  }
  img {
    max-width: 100%;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  ul {
    list-style-type: none;
  }
  /* NavBar  */
  .navbar {
      /* padding-top: 25px; */
      /* padding-bottom: 25px; */
      transition: 0.35s linear all;
      position: fixed;
      width: 100%;
      z-index: 199;
      top: 0;
      height: 125px;
  }
  .navbar-scroll {
    background: #132332;
  }
  .navbar .flex {
      justify-content: space-between;
      align-items: center;
  }
  .navbar nav {
      display: flex;
      align-items: center;
  }
  .navbar ul {
      display: flex;
  }
  .navbar li {
      margin-right: 35px;
  }
  .navbar li a {
      font-size: 15px;
      position: relative;
  }
  .navbar nav {
    margin-right: 100px;
}
    .logo__img {
        display: flex;
        align-items: center;
    }
    .logo__img img:nth-child(1) {
        margin-right: 8px;
        transform-origin: bottom;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
  /* .navbar li a:after {
    content: '';
    width: 0%;
    transition: width 0.25s ease-in-out;
  } */
  .navbar li a:hover::after  {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4.5px;
      border-radius: 5px;
      background: var(--green-color);
      bottom: -14px;
      left: 0;
  }
    .language {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: 3.5rem;
  }
  .language span span {
      font-size: 13px;
      margin-left: 11px;
  }
  .language__list a:hover {
    background: #0E1924;
    border-radius: 20px;
}
  }
  .navbar .language img {
      max-width: 28px;
      margin-right: 20px;
  }
  .language__list {
      background: #132332;
      border-radius: 20px;
      padding: 15px 5px;
      position: absolute;
      top: 4rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s linear, visibility 0.2s linear;
      /* cursor: pointer; */
  }
  .language-footer {
      left: 12rem;
      bottom: 5rem;
      top: initial;
  }
  .language__select img {
      margin-right: 18px;
  }
  /* .review__container {
      max-height: 1px;
  } */
  .information .swiper-container {
      max-height: 300px;
  }
  .language:hover .language__list {
      opacity: 1;
      visibility: visible;
  }
  .language__list span {
      margin-left: 10px;
  }
  .language__select {
      display: flex;
      align-items: center;
      width: 100%;
  }
  .language__list div {
      cursor: pointer;
      padding: 15px 30px;
      display: flex;
      align-items: center;
  }
  .language__list div:hover {
    background: #0E1924;
    border-radius: 20px;
  }
  .navbar span {
      background: transparent;
      border: none;
      outline: none;
      font-family: 'Gotham Pro', sans-serif;
      color: #fff;
      font-size: 15px;
      cursor: pointer;
  }
  .navbar .icon-phone {
      margin-right: 16px;
  }
  .navbar__right a:first-child {
      font-weight: 700;
      margin-right: 45px;
  }
  /* Main  */
  .main {
      padding-top: 250px;
      background: url(../img/circle.png) center right/auto no-repeat;
      overflow: auto;
      padding-bottom: 210px;
      transition: 0.5s all;
      /* padding-bottom: 150px; */
  }
  .main h1 {
      font-size: var(--font-title);
      line-height: 90px;
      margin-bottom: 35px;
  }
  .main p {
      margin-bottom: 40px;
  }
  /* COMPANY  */
  .company {
      /* padding-top: 25px; */
      /* background: url('../img/body.png') center center/auto no-repeat; */
      padding-bottom: 200px;
      position: relative;
  }
  .company .grid {
      margin-top: 57px;
  }
  .company .grid-3 {
      gap: 30px;
      align-items: flex-start;
  }
  .company h2 {
      font-size: 40px;
  }
  .company p {
      font-size: 20px;
  }
  .company .container {
      padding: 0;
      overflow: visible;
  }
  .company .grid div {
    border-radius: 20px;
    background: var(--dark-color);
    /* padding: 45px 53px; */
    padding: 25px 40px;
    padding-bottom: 30px;
    width: 270px;
  }
  .company .grid div:last-child {
      width: 470px;
      /* background: #7769F6; */
      background: url(../img/polygraph.png) bottom right/auto no-repeat #7769F6;
  }
  .company .grid div:nth-child(2) {
      grid-row: 1 / span 2;
      grid-column-start: 2;
      height: 100%;
      width: 370px;
      background: url(../img/texts.png) bottom right/auto no-repeat var(--green-color);
  }
  .company .grid div:nth-child(3) {
    background: #32A9FB;
  }
  .company .grid div:nth-child(4) {
    background: #2C64F7;
  }
  .company .grid p {
      font-size: 13px;
  }
  /* INFORMATION  */
  .information {
      padding-bottom: 145px;
      position: relative;
  }
  .information .container {
      padding: 0;
  }
  .information h2 {
      font-size: 40px;
  }
  .information p {
      font-size: 20px;
      margin: 0;
  }
  .information .grid {
      gap: 100px;
      margin-top: 50px;
      align-items: flex-start;
  }
  .review__img {
      border-radius: 20px;
      max-width: 600px;
      max-height: 440px;
  }
  .information .grid p {
      font-size: 15px;
  }
  .review {
      background-color: #172331;
      padding: 45px 35px;
      box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      max-width: 370px;
      margin-top: 31px;
  }
  .review img {
      border-radius: 0;
      margin-right: 35px;
  }
  .review__top {
      display: flex;
      align-items: center;
  }
  .review__stars span {
      font-size: 30px;
      color: #f3bc2a;
  }
  .review__name {
      font-size: 15px;
      margin-top: 25px;
  }
  .review p {
      margin-top: 33px;
  }
  /* CLIENTS  */
  .clients {
      padding-bottom: 180px;
  }
  .clients .container {
      padding: 0;
  }
  .clients-container {
      overflow: hidden;
  }
  .clients__row {
      display: flex;
      align-items: center;
      margin-top: 100px;
      /* justify-content: space-between; */
  }
  .clients h2 {
      font-size: 40px;
  }
  .language a {
      cursor: pointer;
  }
  .language__list a {
    cursor: pointer;
    padding: 15px 40px;
    display: flex;
    align-items: center;
  }
  .clients .grid {
      margin-top: 100px;
  }
  /* ADVANTAGES  */
  .advantages {
      padding-bottom: 140px;
  }
  .advantages .grid {
      gap: 100px;
  }
  .advantages h2 {
      font-size: 40px;
      line-height: 55px;
      margin-bottom: 35px;
  }
  .advantages p {
      margin-bottom: 50px;
      max-width: 480px;
  }
  .advantages .grid .grid {
      gap: 30px;
      align-items: flex-start;
  }
  .card {
    background: #1E2B3E;
    border-radius: 20px;
    padding: 40px 45px;
    height: 270px;
    width: 270px;
    cursor: pointer;
    transition: 0.5s all;
    overflow: hidden;
  }
  .card p {
      display: none;
      opacity: 0;
      transition: 0.5s all;
  }
  .card h3 {
      font-size: 15px;
      margin-top: 100px;
      transition: 0.5s all;
  }
  .card.active {
      background-color: #0695FD;
  }
  .card:nth-child(1).active {
    background-color: var(--green-color);
  }
  .card:nth-child(3).active {
    background-color: rgb(44, 100, 247);
  }
  .card:nth-child(4).active {
    background-color: #7769F6;
  }
  .card.active p {
      display: initial;
      opacity: 100%;
  }
  .card.active h3 {
      margin-top: 14px;
      margin-bottom: 5px;
  }
  .card.active p {
      font-size: 15px;
      margin-bottom: 0;
  }
  /* ARTICLES  */
  .article {
      padding-bottom: 143px;
  }
  .content.content-articles {
      background: url(../img/bg-2.png) center center/contain no-repeat;
  }
  .article h2 {
      font-size: 40px;
      margin-bottom: 20px;
  }
  .article p {
      text-align: start;
  }
  .article__content img {
      max-width: 750px;
  }
  .article .grid {
      gap: 30px;
      align-items: flex-start;
      margin-top: 65px;
  }
  .article__card.flex {
      flex-wrap: nowrap;
      background: #060A0D;
      border-radius: 20px;
      width: 670px;
  }
  .article__content {
      padding: 40px 55px;
      /* padding-left: 55px; */
      /* padding-top: 35px; */
      padding-bottom: 0;
  }
  .article center {
      margin-top: 70px;
  }
  .btn-more {
      padding: 15px 60px!important;
  }
  .article__content h3 {
      font-size: 20px;
  }
  .article__content p {
      font-size: 15px;
  }
  .article .grid div:nth-child(2) {
      grid-row: 1 / span 2;
      grid-column-start: 2;
      background: #1E2B3E;
      border-radius: 20px;
      /* padding: 40px 55px; */
      text-align: center;
      max-width: 370px;
      height: 100%;
      padding: 45px 20px;
      padding-bottom: 0px;
  }
  .article .grid div:nth-child(2) img {
      margin-top: 36px;
  }
  .article .grid div:nth-child(2) h3 {
      font-size: 20px;
  }
  .article .grid div:nth-child(2) p {
    font-size: 15px;
}
/* FOOTER  */
.footer {
    padding-top: 90px;
    background: #111F2C;
}
.footer .grid-4 {
    /* align-items: flex-start; */
    align-items: center;
    gap: 20px;
}
.footer .grid-4 div:nth-child(3) {
    grid-column: 3 / span 4;
}
.footer h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer li a {
    font-size: 15px;
    position: relative;
    transition: .6s all;
    /* margin: 10px 0; */
}
.footer li {
    margin: 10px 0;
}
.footer li a:hover {
    color: #30CB1B;
    /* text-decoration: underline; */
}
.footer li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.5px;
    background-color: #30CB1B;
    bottom: 0;
    left: 0;
    display: block;
    transition: width .35s ease-in-out;
}
.footer li a:hover::after {
    width: 100%;
}
.footer li {
    font-size: 15px;
}
.footer .flex {
    flex-wrap: nowrap;
}
.footer .flex a {
    border-radius: 5px;
    padding: 32px 35px;
    text-align: center;
}
/* .footer .flex a:first-child {
    background: #1977F3;
    margin-right: 17px;
} */
.footer .flex a:hover {
    opacity: 0.9;
}
.footer .flex a {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.footer .flex a img {
    width: 37px;
    height: 37px;
}
.footer .flex a img {
    filter: invert(1);
}
.footer .flex h3 {
    margin-top: 25px;
}
.footer-mid {
    margin-top: 41px;
}
.footer-mid img {
    margin-right: 108px;
}
.footer-mid p {
    font-size: 13px;
    opacity: 0.5;
}
.footer__bottom {
    background: #132332;
    align-items: center;
    margin-top: 90px;
    padding: 20px 0;
    position: relative;
}
.footer-bottom {
    max-width: 100%;
}
.footer-bottom p, .footer-bottom a {
    text-align: center;
}
/* ARTICLES-CATALOG  */
.articles-catalog {
    padding-top: 60px;
}
.articles-catalog h1 {
    font-size: 72px;
}
.articles-catalog h2 {
    font-size: 36px;
    margin-top: 55px;
    margin-bottom: 40px;
}
.articles-catalog .grid {
    margin-top: 34px;
    align-items: center;
    background: #1E2B3E;
    border-radius: 15px;
    gap: 58px;
}
.grid-news:hover {
    opacity: 0.9;
}
.services__another .btn {
    text-align: center;
}
.articles-catalog .grid div {
    padding: 35px 0;
    padding-right: 50px;
}
.articles-catalog .grid img {
    padding: 0 20px;
    border-radius: 30px;
    max-width: 620px;
    height: 305px;
}
.articles-catalog .grid time {
    color: #A6ADB1;
    font-size: 13px;
}
.articles-catalog .grid h4 {
    font-size: 34px;
    font-weight: 400;
    line-height: 45px;
}
.articles-catalog .grid p {
    font-size: 15px;
    margin-top: 25px;
    line-height: 25px;
}
.articles-catalog .container {
    padding: 0;
}
/* ПОСЛЕДНИЕ СТАТЬИ  */
.articles__last {
    /* padding-top: 40px; */
    padding-bottom: 130px;
}
.articles__last .grid {
    gap: 30px;
    background: initial;
    border-radius: initial;
}
.grid .item {
    padding-right: 20px;
    padding: 0;
    background: #1E2B3E;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.review__top img {
    width: 20%;
}
.grid .item img {
    max-width: 330px;
    height: initial;
    padding: 0;
    border-radius: 15px;
    max-height: 180px;
}
.grid .item h4 {
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
}
.grid .item:hover {
    opacity: 0.9;
}
/* ALL ARTICLES  */
.all-articles {
    padding-top: 70px;
    padding-bottom: 130px;
}
.all-articles .container {
    padding: 0;
}
.all-articles h2 {
    font-size: 36px;
    margin-bottom: 40px;
}
.all-articles .grid {
    gap: 30px;
    margin-bottom: 84px;
}
  /* Используемые классы  */
  .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-wrap: wrap;
  }
  .overflow-hidden {
      overflow: hidden;
  }
  .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      height: 100%;
  }
  .grid-3 {
      grid-template-columns: repeat(3, 1fr);
  }
  .grid-4 {
      grid-template-columns: repeat(4, 1fr);
  }
  .grid-5 {
      grid-template-columns: repeat(5, 1fr);
  }
  .grid-6 {
      grid-template-columns: repeat(6, 1fr);
  }
  .logo {
      max-width: 131px;
  }
  .text-center {
      text-align: center;
  }
  .btn {
      background: var(--green-color);
      padding: 11px 32px;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      display: inline-block;
      font-weight: normal;
      /* transition: .5s all; */
  }
  .btn-lg {
      padding: 15px 45px;
  }
  .btn:hover {
      background: var(--green-btn-alt);
  }
  /* Гамбургер  */

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    display: none;
    margin: 0;
    z-index: 999;
    outline: none;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #fff;
    outline: none; }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }

    .navbar span.hamburger-inner {
        background-color: #fff;
    }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #fff;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }

  /*
     * Spring
     */
  .hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear; }
    .hamburger--spring .hamburger-inner::before {
      top: 10px;
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--spring .hamburger-inner::after {
      top: 20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

  .hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important; }
    .hamburger--spring.is-active .hamburger-inner::before {
      top: 0;
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    .hamburger--spring.is-active .hamburger-inner::after {
      top: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(-45deg); }
  /* Все контейнеры  */
  .container {
      max-width: 1170px;
      margin: 0 auto;
      overflow: auto;
      padding: 0 40px;
  }
  .container-nav {
    max-width: 1579px;
}
/* КОНТЕНТНЫЙ БЭКГРАУНД  */
.content {
    background: url(../img/test.png) center center/contain no-repeat;
    margin-top: 100px;
    transition: 0.5s all;
}
/* Модалка  */
.form__content p {
    color: #999;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    text-align: initial;
    max-width: 280px;
}
.form__content input {
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Gotham Pro', sans-serif;
    padding: 15px 20px;
    outline: none;
    border: none;
}
.form__content textarea {
    border-radius: 5px;
    background: #fff;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #1E2B3E;
    width: 100%;
    padding: 16px;
    height: 100px;
    margin-top: 20px;
    border: none;
    outline: none;
}
.btn-order {
    width: 100%;
    cursor: pointer;
    padding: 14px 0;
    font-size: 16px;
    outline: none;
    border: none;
}
.modal-title {
    font-weight: 300!important;
    font-size: 28px!important;
    color: #fff!important;
    text-align: center!important;
    margin: 0 auto!important;
    margin-bottom: 15px!important;
    font-family: 'Gotham Pro', sans-serif!important;
}
.mb {
    margin-bottom: 15px;
}
.modal-descr {
    color: #c8c8c8!important;
    text-align: center;
    font-size: 15px!important;
    font-weight: 300!important;
    line-height: 22px!important;
    font-family: 'Gotham Pro', sans-serif!important;
}
.swal2-header {
    align-items: flex-start!important;
}
.form__content input:first-child {
    /* margin-right: 30px; */
    width: 100%;
}
.form__content input[type=tel] {
    width: 100%;
}
/* .swal2-popup {
    border-radius: 20px!important;
} */
.form__content .form__inputs {
    display: flex;
    margin-bottom: 20px;
}
.time__form {
    width: 110px;
}
/* .swal2-title {
    color: #fff!important;
    font-family: 'Gotham Pro', sans-serif!important;
    font-weight: 300!important;
    font-size: 28px!important;
} */
.form__inputs {
    margin-top: 30px;
}
/* .swal2-confirm.swal2-styled {
    width: 100%;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 16px;
    padding: 14px 0;
    outline: none;
} */
.swal2-close:hover {
    color: #1EBE74!important;
    /* background: #1EBE74;  */
}
/* Слайдер отзывов  */
.review-container.swiper-container-vertical>.swiper-pagination-bullets {
    right: 5rem;
}
.review-container .swiper-pagination-bullet {
    background: #202F46;
    opacity: 100%;
}
.review-container .itpark-dots .swiper-pagination-bullet:first-child.swiper-pagination-bullet-active {
    background: var(--green-color);
    width: 14px;
    height: 14px;
}
.review-container .itpark-dots .swiper-pagination-bullet:first-child {
    width: 14px;
    height: 14px;
}
.review-container .itpark-dots .swiper-pagination-bullet-active {
    background: var(--green-color);
}
.itpark-dots .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
}
.itpark-dots .swiper-pagination-bullet:last-child {
    width: 9px;
    height: 9px;
}
.review-container.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 15px 0;
}
/* .itpark-dots .swiper-pagination-bullet-active ~ .swiper-pagination-bullet:nth-child(2) {
    width: 11px;
    height: 11px;
}
.itpark-dots .swiper-pagination-bullet-active ~ .swiper-pagination-bullet:nth-child(3) {
    width: 9px;
    height: 9px;
} */
/* Слайдер Клиентов  */
.clients-pagination {
    left: 50%;
    transform: translate(-50%);
    margin-top: 75px;
}
.clients-pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    background: #202F46;
    opacity: 100%;
    margin-right: 15px;
}
.clients-pagination .swiper-pagination-bullet:first-child, .clients-pagination .swiper-pagination-bullet:last-child {
    width: 9px;
    height: 9px;
}
.clients-pagination  .swiper-pagination-bullet-active, .clients-pagination .swiper-pagination-bullet:first-child.swiper-pagination-bullet-active,
.clients-pagination .swiper-pagination-bullet:last-child.swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
    background: #1EBA72;
}
/* Портфолио */
.portfolio {
    padding-top: 85px;
}
.portfolio .container {
    padding: 0;
}
.portfolio h1 {
    font-size: 72px;
}
.portfolio p {
    margin-top: 30px;
}
.portfolio .grid {
    margin-top: 55px;
    gap: 30px;
    align-items: flex-start;
}
.maket {
    max-width: 270px;
}
.maket h3 {
    font-size: 22px;
}
.maket p {
    color: #9A9A9A;
    font-size: 17px;
    margin-top: 15px;
}
.maket:hover {
    opacity: .75;
}
.logotypes {
    padding-top: 100px;
}
.logotypes h2 {
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
}
.logotypes h3 {
    font-size: 36px;
    max-width: 292px;
}
.logotypes .flex {
    flex-wrap: nowrap;
}
.logotypes .grid {
    align-items: center;
    gap: 30px;
}
/* LANDING PAGE  */
.landing {
    padding-top: 150px;
}
.landing h2, .landing p {
    text-align: center;
}
.landing h2 {
    font-size: 36px;
}
.landing p {
    font-size: 17px;
    margin-top: 20px;
    color: #a5a5a5;
}
.landing .grid {
    margin-top: 54px;
    gap: 30px;
}
.landing .grid div:nth-child(2) {
    grid-column: 2 / span 2;
}
.landing .grid div:nth-child(3) {
    grid-column: 1 / span 2;
}
.landing .grid div img {
    height: 100%;
    border-radius: 10px;
}
.maket__item {
    position: relative;
}
.landing .grid div:hover .landing__info {
    visibility: visible;
    opacity: 100%;
}
.landing .grid div img {
    transition: 0.25s linear all;
}
.landing .grid div:hover img {
    filter: brightness(0.5) blur(2.5px);
}
.landing__info {
    position: absolute;
    top: 60px;
    left: 49px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;
}
.landing__info p {
    text-align: left;
    max-width: 490px;
}
.landing__info a {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: 0.25s all;
}
.landing__info a:hover {
    background: #fff;
    color: #000;
}
/* MOBILE  */
.mobile-application {
    padding-top: 125px;
}
.mobile-application h2 {
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    text-align: left;
}
.mobile-application .grid {
    margin-top: 30px;
    align-items: flex-start;
}
.mobile-application .grid h3 {
    font-size: 36px;
}
.mobile-application .grid p {
    text-align: left;
}
.mobile-application .grid div img {
    filter: none;
}
.mobile-application .grid div img:hover {
    filter: none;
}
.mobile-application .grid div {
    position: relative;
}
.mobile-application .grid div:nth-child(2) {
    grid-column: initial;
}
.mobile-application .grid div:nth-child(2) a {
    position: absolute;
    right: -2rem;
    transform: translateY(-50%);
    top: 35%;
    display: flex;
    align-items: center;
    margin-right: 43px;
}
.mobile-application .grid div:nth-child(2) a span {
    margin-left: 20px;
    font-size: 25px;
    color: #fff;
    transition: 0.3s all;
    margin-left: 10px;
}
.mobile-application .grid div:nth-child(2) a:hover span {
    color: var(--green-color);
}
.mobile-application .grid div:hover img {
    filter: none;
}
.mobile-application .grid a:hover {
    filter: none;
}
.mobile-application .grid div:first-child a {
    margin-top: 30px;
    padding: 15px 60px;
}
/* .logotypes-slider {
    width: 800px;
    height: 400px;
} */
.logotypes__slider.grid {
    align-items: initial;
    margin-top: 0;
}
.swiper-cool .swiper-slide {
    width: 360px;
}
.swiper-cool {
    width: 770px;
    overflow: hidden;
}
.swiper-cool img {
    border-radius: 10px;
}
.landing .container {
    padding: 0;
    overflow: hidden;
}
/* Наша команда  */
.team {
    height: 100vh;
    padding-top: 600px;
    background: url(../img/banner-team.png) center center/cover no-repeat;
    margin-top: 0;
    /* background-attachment: fixed; */
}
.team::before {
    content: '';
    display: block;
    position: absolute;
    width: 794px;
    height: 424px;
    background: url(../img/leaves.png) center center/cover no-repeat;
    top: 50%;
    left: 10%;
}
.team h1 {
    font-size: 130px;
    text-align: center;
    white-space: nowrap;
}
.team-wrapper {
    padding-top: 40px;
}
.team-wrapper h2 {
    font-size: 20px;
    font-weight: 400;
}
.team-people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.team-main {
    border-radius: 20px;
    width: 1170px;
    height: 820px;
    object-fit: contain;
}
.team-personal-icon {
    background: var(--green-color);
    display: inline-block;
    padding: 13px;
    border-radius: 10px 10px 0px 0px;
    opacity: 100%;
    position: absolute;
    top: -3rem;
    right: 1rem;
    z-index: 1;
    padding-bottom: 0.5rem;
}
.team-personal-icon span {
    opacity: 100%!important;
    color: #1c1c1c!important;
}
.team-people {
    /* margin: 0 -15px; */
    /* margin-top: 30px; */
    margin-bottom: 117px;
}
.team-people div {
    padding: 0 15px;
    cursor: pointer;
}
.team-people div img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    pointer-events: none;
    /* filter: grayscale(1); */
}
.team-personal {
    border-radius: 20px;
    background: #132332;
    padding: 45px 55px;
    bottom: 7.5rem;
    right: 0rem;
    max-width: 460px;
    position: absolute;
}
.team-personal h3 {
    opacity: 0.5;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
}
.team-wrapper .container {
    padding: 0;
}
.team-banner {
    overflow: hidden;
}
.team-personal span {
    text-align: right;
    opacity: 0.5;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}
.personal__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-personal h2 {
    font-size: 28px;
    font-weight: 700;
}
.team-personal p {
    font-size: 15px;
    font-weight: 300;
    margin: 0;
}
.team-banner {
    position: relative;
}
/* .people-active::after {
    content: '';
    position: relative;
    width: 100%;
    height: 4px;
    background: var(--green-color);
    display: block;
    border-radius: 5px;
    top: 0.8rem;
} */
.people-active {
    filter: grayscale(0)!important;
}
.people-sm-photo {
    border-radius: 10px;
    filter: grayscale(1);
    transition: 0.3s linear all;
    width: 70px;
    height: 70px;
    margin-right: 30px;
    cursor: pointer;
}
/* .people-active {
    filter: grayscale(0)!important;
} */
/* Наша философия  */
.philosophy {
    padding-top: 140px;
    padding-bottom: 120px;
}
.philosophy .grid {
    gap: 75px;
    align-items: flex-start;
}
.philosophy img {
    border-radius: 20px;
    max-width: 100%;
}
.philosophy h3 {
    font-size: 65px;
    line-height: 80px;
    margin: 0;
    margin-bottom: 32px;
}
.philosophy p {
    font-weight: 300;
    color: #7A7A7A;
    font-size: 15px;
    line-height: 28px;
}
/* Услуги  */
.services {
    padding-top: 100px;
}
.services-content {
    margin-top: 0;
}
.services h1 {
    font-size: 72px;
    margin-bottom: 35px;
}
.services p {
    font-size: 20px;
}
.services .grid {
    align-items: flex-start;
    margin-top: 50px;
    gap: 30px;
}
.services__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.services__item {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
    letter-spacing: -0.866667px;
    cursor: pointer;
    transition: 0.2s all;
    white-space: nowrap;
}
.services__item.active-services {
    color: #1db972;
}
.services__item:hover {
    color: #1db972;
}
.services__banner {
    background: url('../img/service-banner.png') center center/cover no-repeat;
    padding: 70px 100px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-column: 2 / span 8;
}
.services__another.flex {
    flex-wrap: nowrap;
    justify-content: initial;
    align-items: center;
}
.services__another {
    padding: 29px 39px;
    /* border: 1px solid #afafaf36; */
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
    margin: 0;
}
.services__another.grid {
    border: 1px solid #afafaf36;
}
.services__another h2 {
    font-size: 20px;
    margin-right: 33px;
    white-space: nowrap;
}
.service__title {
    font-size: 36px!important;
}
.services__another .btn {
    white-space: nowrap;
}
.sentence .grid .grid {
    grid-column-start: 2;
    grid-column-end: 4;
}
.sentence .grid {
    gap: 30px;
}
.sentence__tel {
    display: flex;
    align-items: center;
}
.sentence__tel span {
    font-size: 25px;
    margin-right: 21px;
    color: var(--green-color);
}
.sentence__tel a, .sentence__tel h3 {
    margin: 0;
}
.sentence__tel a {
    color: #fff;
    opacity: .7;
}
.sentence {
    padding-bottom: 150px;
    padding-top: 143px;
}
.sentence .grid {
    align-items: flex-start;
}
.sentence .grid.grid-3 div p {
    font-size: 17px;
    color: #666;
    margin-top: 50px;
}
.sentence-card_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sentence-card {
    padding-top: 36px;
    padding-right: 25px;
    padding-left: 45px;
    padding-bottom: 150px;
    border-radius: 6px;
    border: 1px solid #C9CCD4;
    height: 100%;
    transition: 0.5s all;
}
.services__another .btn {
    margin-left: 35px;
}
/* .sentence-card.sentence-card_active {
    background: #7769F6;
} */
.sentence-card:hover {
    background: #7769F6;
}
.sentence-card:hover span.icon-verify {
    color: #fff;
}
.sentence-card span.icon-verify {
    color: #1DB972;
}
/* .sentence-card.sentence-card_active span.icon-verify {
    color: #fff;
} */
.sentence .btn {
    margin-top: 80px;
}
.sentence-card_body span {
    font-size: 12px;
    margin-right: 10px;
}
.sentence-card_top span {
    font-weight: 600;
    font-size: 28px;
}
.sentence-card p {
    margin-top: 0!important;
    color: #fff!important;
    font-size: 16px;
}
.services__item .btn {
    white-space: nowrap;
}
.services__item p {
    font-size: 17px;
    color: #ccc;
}
.services__menu p {
    margin-top: 100px;
    color: #979EA6;
    font-size: 15px;
    position: relative;
}
.services__menu p::before {
    content: '';
    display: block;
    height: 1px;
    background: #d4d4d4;
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0;
    border-radius: 0px 1px 0 1px;
}
.services .container {
    padding: 0;
}
.services__url {
    margin-top: 100px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
}
.services__url .btn {
    margin-right: 80px;
}
.service__price {
    font-size: 48px;
    font-weight: 700;
}
.service__price span {
    font-size: 24px;
}
.services__texts li {
    margin-bottom: 20px;
    font-size: 15px;
}
/* .container-services {
    max-width: 1562px;
    margin: 0 auto;
} */

@media(min-width: 1700px) {
    .main {
        padding-bottom: 450px;
    }
}

/* Анимация логотипа  */
.bounce-5 {
    animation-name: bounce-5;
    animation-timing-function: ease;
}
@keyframes bounce-5 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-20px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-1.7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

/* @keyframes bounce-5 {
    0% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(330deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

/* Анимация слайдера партнеров  */
.swiper-wrapper
{
  transition-timing-function: linear;
}

/* Фон кодом  */
.ball {
    background: radial-gradient(96% 96% at 70.4% 31.2%, #3244E8 0%, rgba(0, 2, 16, 0) 100%), #030092;
box-shadow: 0px 4px 80px rgba(248, 0, 119, 0.48), inset 0px 2px 10px rgba(255, 255, 255, 0.58), inset 10px 20px 100px #FF0505;
border-radius: 50%;
width: 117px;
height: 117px;
}

.balls {
    display: flex;
    position: relative;
    /* top: -6rem; */
    top: -10rem;
    left: -2rem;
    width: 95%;
    animation: ballss 9s ease-in-out infinite;
    z-index: 2;
}
@keyframes ballss {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(6deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.ball:first-child {
    position: absolute;
    left: 0;
    animation: levitation-1 6s ease-in-out infinite;
}
.ball:nth-child(2) {
    top: -128px;
    position: absolute;
    left: 50%;
    width: 87px;
    height: 87px;
animation: levitation-2 6s ease-in-out infinite;
}
.ball:nth-child(3) {
    position: absolute;
    top: 10rem;
    left: 28%;
    background: radial-gradient(96% 96% at 70.4% 31.2%, #3244E8 0%, rgba(0, 2, 16, 0) 100%), #030092;
    box-shadow: 0px 4px 80px rgba(248, 0, 119, 0.48), inset 0px 2px 10px rgba(255, 255, 255, 0.58), inset 10px 20px 50px #FF0505;
    width: 60px;
    height: 60px;
    animation: levitation-3 9s ease-in-out infinite;
}
.ball:nth-child(4) {
    position: absolute;
    right: -150px;
    width: 143px;
    height: 143px;
    top: -5rem;
    animation: levitation-4 12s ease-in-out infinite;
}
.ball:nth-child(6) {
    position: absolute;
    right: -7rem;
    top: -12rem;
    width: 63px;
    height: 63px;
    background: radial-gradient(96% 96% at 70.4% 31.2%, #3244E8 0%, rgba(0, 2, 16, 0) 100%), #030092;
    box-shadow: 0px 4px 80px rgb(248 0 119 / 48%), inset 0px 2px 10px rgb(255 255 255 / 58%), inset 10px 20px 30px #ff0505;
    animation: levitation-6 6s ease-in-out infinite;
}
.ball:nth-child(7) {
    position: absolute;
    bottom: -28rem;
    left: 50%;
    animation: levitation-7 12s ease-in-out infinite;
}
.ball:nth-child(8) {
    position: absolute;
    bottom: -24rem;
    left: 86%;
    width: 120px;
    height: 120px;
    animation: levitation-8 9s ease-in-out infinite;
}
.ball:nth-child(9) {
    width: 60px;
    height: 60px;
    background: radial-gradient(96% 96% at 70.4% 31.2%, #3244E8 0%, rgba(0, 2, 16, 0) 100%), #030092;
    box-shadow: 0px 4px 80px #2300F8, inset 0px 2px 10px rgba(255, 255, 255, 0.58), inset 10px 16px 20px rgba(130, 5, 255, 0.95);
    position: absolute;
    left: 121%;
    bottom: -22rem;
    animation: levitation-9 12s ease-in-out infinite;
}
.ball:nth-child(10) {
    position: absolute;
    left: 122%;
    bottom: -14rem;
    width: 101px;
    height: 101px;
    animation: levitation-10 6s ease-in-out infinite;
}
.mains {
    left: 50%;
    position: absolute;
    width: 250px;
    /* transform: translateX(-50%); */
    height: 250px;
    animation: levitation-5 15s ease-in-out infinite;
}
@keyframes levitation-1 {
    0% {
        top: 0rem;
        left: 0;
    }
    25% {
        top: 1.5rem;
        left: 1rem;
    }
    50% {
        top: 0rem;
    }
    75% {
        top: 1.5rem;
        left: 1rem;
    }
    100% {
        top: 0rem;
    }
}

@keyframes levitation-2 {
    0% {
        top: -128px;
    }
    25% {
        top: -135px;
        /* background: radial-gradient(96% 96% at 70.4% 31.2%, #3244E8 0%, rgba(0, 2, 16, 0) 100%), #030092;
    box-shadow: 0px 4px 80px rgb(248 0 119 / 48%), inset 0px 2px 10px rgb(255 255 255 / 58%), inset 10px 20px 50px #ff0505; */
    }
    50% {
        top: -128px;
    }
    75% {
        top: -135px;
        /* background: radial-gradient(96% 96% at 70.4% 31.2%, #3244E8 0%, rgba(0, 2, 16, 0) 100%), #030092;
    box-shadow: 0px 4px 80px rgb(248 0 119 / 48%), inset 0px 2px 10px rgb(255 255 255 / 58%), inset 10px 20px 50px #ff0505; */
    }
    100% {
        top: -128px;
    }
}

@keyframes levitation-3 {
    0% {
        top: 10rem;
    }
    25% {
        top: 8rem;
    }
    50% {
        top: 10rem;
    }
    75% {
        top: 8rem;
    }
    100% {
        top: 10rem;
    }
}

@keyframes levitation-4 {
    0% {
        top: -5rem;
    }
    25% {
        top: -3.5rem;
    }
    50% {
        top: -5rem;
    }
    75% {
        top: -3.5rem;
    }
    100% {
        top: -5rem;
    }
}

@keyframes levitation-5 {
    0% {
        top: 1rem;
    }
    25% {
        top: -1rem;
    }
    50% {
        top: 1rem;
    }
    75% {
        top: -1rem;
    }
    100% {
        top: 1rem;
    }
}

@keyframes levitation-6 {
    0% {
        top: -12rem;
    }
    25% {
        top: -12.5rem;
    }
    50% {
        top: -12rem;
    }
    75% {
        top: -12.5rem;
    }
    100% {
        top: -12rem;
    }
}

@keyframes levitation-7 {
    0% {
        bottom: -28rem;
    }
    25% {
        bottom: -27rem;
    }
    50% {
        bottom: -28rem;
    }
    75% {
        bottom: -27rem;
    }
    100% {
        bottom: -28rem;
    }
}

@keyframes levitation-8 {
    0% {
        bottom: -24rem;
        left: 86%;
    }
    25% {
        bottom: -25rem;
        left: 84%;
    }
    50% {
        bottom: -24rem;
        left: 86%;
    }
    75% {
        bottom: -25rem;
        left: 84%;
    }
    100% {
        bottom: -24rem;
        left: 86%;
    }
}

@keyframes levitation-9 {
    0% {
        bottom: -22rem;
    }
    25% {
        bottom: -24rem;
    }
    50% {
        bottom: -22rem;
    }
    75% {
        bottom: -24rem;
    }
    100% {
        bottom: -22rem;
    }
}

@keyframes levitation-10 {
    0% {
        bottom: -14rem;
    }
    25% {
        bottom: -12rem;
    }
    50% {
        bottom: -14rem;
    }
    75% {
        bottom: -12rem;
    }
    100% {
        bottom: -14rem;
    }
}
.leaves div:first-child {
    background: url('../img/leaves/falling-green-leaves-png-4 10.png') center right/auto no-repeat;
    height: 150px;
    height: 150px;
    position: absolute;
    right: 10rem;
    top: 0rem;
    width: 100%;
    animation: living 30s ease-in infinite;
}

.leaves div:nth-child(2) {
    background: url('../img/leaves/falling-green-leaves-png-4 9.png') center right/auto no-repeat;
    height: 250px;
    position: absolute;
    right: 48rem;
    top: 0;
    width: 100%;
    animation: living-2 25s ease-in infinite;
}

.leaves div:nth-child(3) {
    background: url('../img/leaves/falling-green-leaves-png-4 11.png') center right/auto no-repeat;
    height: 250px;
    position: absolute;
    right: 20rem;
    /* bottom: 35rem; */
    top: -10rem;
    width: 100%;
    animation: living-3 27s ease-in infinite;
}

.leaves div:nth-child(4) {
    background: url('../img/leaves/falling-green-leaves-png-4 11.png') center right/auto no-repeat;
    height: 250px;
    position: absolute;
    right: 100rem;
    /* bottom: 35rem; */
    top: -10rem;
    width: 100%;
    animation: living-2 32s ease-in infinite;
}

.leaves div:nth-child(5) {
    background: url('../img/leaves/falling-green-leaves-png-4 11.png') center right/auto no-repeat;
    height: 250px;
    position: absolute;
    /* right: 10rem; */
    right: 40rem;
    /* bottom: 35rem; */
    top: -15rem;
    width: 100%;
    animation: living-3 30s ease-in infinite;
}

.leaves div:nth-child(6) {
    background: url('../img/leaves/falling-green-leaves-png-4 11.png') center right/auto no-repeat;
    height: 250px;
    position: absolute;
    /* right: 10rem; */
    right: 40rem;
    /* bottom: 35rem; */
    top: -40rem;
    width: 100%;
    animation: living-3 60s ease-in infinite;
}

.leaves div:nth-child(7) {
    background: url('../img/leaves/falling-green-leaves-png-4 9.png') center right/auto no-repeat;
    height: 250px;
    position: absolute;
    right: 48rem;
    top: -72rem;
    width: 100%;
    animation: living-2 50s ease-in infinite;
}

.leaves div:nth-child(8) {
    background: url('../img/leaves/falling-green-leaves-png-4 10.png') center right/auto no-repeat;
    height: 150px;
    height: 150px;
    position: absolute;
    right: 10rem;
    top: -50rem;
    width: 100%;
    animation: living 60s ease-in infinite;
}
@keyframes living {
    0% {
        transform: rotate(45deg);
        opacity: 50%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        transform: rotate(90deg);
        opacity: 0%;
        top: 250rem;
    }
}

@keyframes living-2 {
    0% {
        transform: rotate(0deg);
        opacity: 50%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        transform: rotate(90deg);
        opacity: 0%;
        top: 150rem;
    }
}

@keyframes living-3 {
    0% {
        transform: rotate(0deg);
        opacity: 50%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        transform: rotate(90deg);
        opacity: 0%;
        top: 180rem;
    }
}

.light-ball {
    background: radial-gradient(96% 96% at 70.4% 31.2%, #3244E8 0%, rgba(0, 2, 16, 0) 100%), #030092;
    box-shadow: 0px 0px 20px rgb(255 147 147 / 13%), 60px 120px 80px rgb(5 0 255 / 20%), 0px 4px 80px rgb(248 0 119 / 48%), inset 0px 2px 10px rgb(255 255 255 / 58%), inset 10px 20px 100px #ff0000;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    animation: light-ball 5s ease-in-out infinite;
    z-index: -1;
}

.information .light-ball {
    right: 15rem;
    bottom: -12rem;
    width: 150px;
    height: 150px;
    animation: light-ball-2 5s ease-in-out infinite;
}

@keyframes light-ball {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 2rem;
    }
    100% {
        bottom: 0;
    }
}

@keyframes light-ball-2 {
    0% {
        bottom: -2rem;
    }
    50% {
        bottom: -4rem;
    }
    100% {
        bottom: -2rem;
    }
}


/* Планшеты  */
@media(max-width: 769px) {
    /* Отключаю анимацию на мобилке и планшете */
    .main {
        background-position: center!important;
    }
    .nav__menu {
        background: #132332;
        position: absolute;
        height: 100vh;
        top: 0;
        right: -100%;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s all;
    }
    .nav-active {
        right: 0%;
    }
    .main h1 {
        margin-top: 0;
    }
    .balls {
        top: -13.5rem;
        z-index: -1;
        width: 75%;
    }
    .light-ball {
        z-index: -1;
    }
    .theme {
        margin-right: 0!important;
        margin-top: 20px;
    }
    .leaves div:nth-child(2) {
        right: 2rem;
    }
    .ball {
        width: 93px;
        height: 93px;
    }
    .ball:nth-child(2) {
        width: 70px;
        height: 70px;
        display: none;
    }
    .ball:nth-child(3) {
        width: 60px;
        height: 60px;
    }
    .ball:nth-child(4) {
        width: 114px;
        height: 114px;
    }
    .mains {
        width: 200px;
        height: 200px;
    }
    .ball:nth-child(6) {
        width: 63px;
        height: 63px;
        display: none;
    }
    .ball:nth-child(7) {
        display: none;
    }
    .ball:nth-child(8) {
        width: 96px;
        height: 96px;
    }
    .ball:nth-child(9) {
        width: 60px;
        height: 60px;
        display: none;
    }
    .ball:nth-child(10) {
        width: 81px;
        height: 81px;
    }
    .language img {
        width: 35px;
    }
    .language__list {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9;
    }
    .language__list a {
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    .language__list span {
        font-size: 30px;
    }
    .language__select span {
        font-size: 23px;
    }
    .navbar nav {
        margin-right: initial;
        display: flex;
        align-items: center;
        /* flex-direction: column; */
        width: 100%;
        justify-content: center;
        /* position: relative; */
        /* width: 100%; */
        text-align: center;
        /* left: 50%; */
        /* transform: translateX(-50%); */
        /* justify-content: center; */
    }
    .language {
        margin-right: 0;
        margin-top: 3.5rem;
    }
    .navbar ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .navbar li {
        /* margin: 15px 0; */
        margin-right: initial;
    }
    .navbar__right {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 1.5rem;
        flex-direction: column;
        width: 100%;
    }
    .navbar nav {
        margin-right: initial;
    }
    .navbar__right a:first-child {
        /* margin-right: 25px; */
        margin-bottom: 20px;
        font-size: 24px;
        margin-right: 0;
    }
    .btn-tel {
        padding: 11px 22px;
        border-radius: 0;
        width: 80%;
        text-align: center;
    }
    .navbar .icon-phone {
        margin-right: 10px;
        font-size: 21px;
    }
    .navbar li a {
        font-size: 20px;
    }
    .navbar li {
        border-bottom: 1px solid #1c344a;
        padding-bottom: 20px;
        padding-top: 20px;
        transition: 0.5s all;
    }
    .navbar li:hover {
        background: #fff;
    }
    .navbar li a:hover::after {
        display: none;
    }
    .navbar li:hover a {
        color: #132332;
    }
    .grid, .grid-3, .grid-4, .grid-5, .grid-6 {
        grid-template-columns: repeat(1, 1fr);
    }
    .company .grid div:nth-child(2) {
        grid-row: 1 / span 1;
        grid-column-start: 1;
        width: auto;
    }
    .container {
        padding: 0 40px;
    }
    .company .container {
        padding: 0 40px;
    }
    .company .grid div {
        width: auto;
    }
    .information .container {
        padding: 0 40px;
    }
    .review {
        max-width: 570px;
    }
    .clients .container {
        padding: 0 40px;
    }
    .advantages {
        text-align: center;
    }
    .advantages p {
        max-width: initial;
        margin-bottom: 35px;
    }
    .card {
        /* height: 180px; */
        width: auto;
        height: auto;
    }
    .company .grid div:last-child {
        width: auto;
    }
    .article__card.flex {
        width: auto;
        flex-wrap: wrap;
    }
    .article .grid div:nth-child(2) {
        grid-row: 1 / span 1;
    }
    .article .grid div:nth-child(2) {
        max-width: initial;
    }
    .article .grid div:nth-child(2) {
        grid-column-start: 1;
    }
    .footer {
        text-align: center;
    }
    .footer li {
        font-size: 18px;
    }
    .footer .grid-4 {
        gap: 45px;
    }
    .footer-mid p {
        font-size: 15px;
    }
    .footer .flex {
        flex-wrap: wrap;
    }
    .footer-mid img {
        margin-right: 0;
    }
    .language__select {
        justify-content: center;
        align-items: center;
    }
    .company {
        padding-top: 100px;
    }
    .hamburger {
        display: block;
    }
    .services__banner {
        grid-column: 1 / span 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .services__menu {
        align-items: center;
    }
    .services .grid {
        gap: 0;
        margin-top: 25px;
    }
    .services__texts.grid {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .services__url {
        justify-content: center;
    }
    .services__banner {
        padding: 0;
    }
    .services__another {
        border: 0;
        margin-top: 80px;
    }
    .service__title {
        text-align: center;
    }
    .services__another.flex {
        border: 1px solid #fff5;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .services__another h2 {
        margin-right: 0;
        text-align: center;
    }
    .services__another p {
        text-align: center;
    }
    .services__another {
        border: 1px solid #fff5;
    }
    .services__another h2 {
        font-size: 26px;
    }
    .services__another .btn {
        margin-left: 0;
        margin-top: 15px;
    }
    .sentence .grid.grid-3 div p {
        color: #fff9;
    }
    .services__another .btn {
        width: 100%;
    }
    .sentence .grid .grid {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .sentence {
        padding-top: 0;
    }
    .sentence .grid.grid-3 div p {
        text-align: center;
    }
    .sentence__tel {
        justify-content: center;
        margin-top: 20px;
    }
    .sentence-card_top {
        flex-direction: column;
    }
    .sentence-card_body {
        text-align: center;
    }
    .sentence .grid.grid-3 div p {
        margin-bottom: 20px;
    }
    .sentence .grid {
        gap: 60px;
    }
    .sentence .btn {
        width: 100%;
    }
    .services__texts li {
        font-size: 18.5px;
    }
    .services__another {
        margin-top: 40px;
    }
    .portfolio h1 {
        font-size: 60px;
        text-align: center;
    }
    .portfolio p {
        text-align: center;
    }
    .portfolio .container {
        padding: 0 40px;
    }
    .maket {
        max-width: 100%;
    }
    .portfolio .grid {
        text-align: center;
        gap: 60px;
    }
    .logotypes__text {
        text-align: center;
    }
    .logotypes h3 {
        max-width: 100%;
    }
    .team {
        padding-top: 300px;
        height: 66vh;
    }
    .team h1 {
        font-size: 80px;
    }
    .team::before {
        display: none;
    }
    .team-wrapper {
        padding-top: 0;
    }
    .content {
        margin-top: 0;
    }
    .philosophy img {
        border-radius: 30px;
    }
    .philosophy .container {
        padding: 0 20px;
    }
    .philosophy div {
        text-align: center;
    }
}

/* Телефоны  */
@media(max-width: 577px) {
    .main {
        /* padding-bottom: 0; */
        /* background: url(../img/main-screen.png) center right/auto no-repeat; */
        overflow: hidden;
    }
    .navbar {
        height: 100px;
    }
    .review img {
        margin-right: 0;
        margin-bottom: 25px;
        width: 100%;
    }
    .review__top img {
        width: 100%;
    }
    .main h1 {
        font-size: 40px;
        line-height: 55px;
        width: auto;
        margin-top: -69px;
    }
    .team-main {
        height: auto;
    }
    .company h2 {
        text-align: center;
        line-height: 60px;
    }
    .company p {
        text-align: center;
    }
    @media (max-width: 578px) {
        #map {
            display: none;
        }
    }
    .review__img {
        max-width: 100%;
    }
    .team-main {
        height: auto;
    }
    .team-banner {
        padding-bottom: 350px;
    }
    .team-personal {
        bottom: 1.5rem;
    }
    .team-content h2 {
        text-align: center;
    }
    .information .grid {
        margin-top: 25px;
        gap: 50px;
    }
    .company .grid div:nth-child(2) {
        background: var(--green-color);
        background-image: none;
    }
    .company .grid div:last-child {
        background: #7769F6;
        background-image: none;
    }
    .team-content h2 {
        text-align: center;
    }
    .information .grid p {
        text-align: center;
    }
    .nav__menu {
        width: 80%;
    }
    .container {
        padding: 0 20px;
    }
    .company {
        padding-bottom: 70px;
    }
    .review__top {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .information .swiper-container {
        max-height: 700px;
    }
    .advantages h2 {
        font-size: 30px;
        line-height: 41px;
        margin-bottom: 30px;
    }
    .article__content h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    .portfolio h1 {
        font-size: 48px;
        text-align: center;
    }
    .portfolio p {
        text-align: center;
    }
    .portfolio .container {
        padding: 0 20px;
    }
    .maket {
        max-width: 100%;
    }
    .landing .container {
        padding: 0 20px;
    }
    .mobile-application .grid p {
        text-align: center;
    }
    .mobile-application .grid div img {
        object-fit: contain;
    }
    .mobile-application .grid div:nth-child(2) a {
        top: auto;
        bottom: 5%;
        right: 2rem;
    }
    .maket h3 {
        text-align: center;
    }
    .logotypes h3 {
        font-size: 30px;
        text-align: center;
        max-width: initial;
    }
    .logotypes h2 {
        text-align: center;
    }
    .mobile-application h2 {
        text-align: center;
    }
    .mobile-application .grid {
        text-align: center;
    }
    .footer .grid-4 div:nth-child(3) {
        grid-column: 1 / span 1;
    }
    .mobile-application .grid h3 {
        font-size: 30px;
    }
    .information {
        padding-bottom: 75px;
    }
    .services .container {
        padding: 0 20px;
    }
    .services h1 {
        text-align: center;
    }
    .services p {
        text-align: center;
    }
    .services__banner {
        grid-column: 1 / span 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .services__menu {
        /* padding: 0 20px; */
        align-items: center;
    }
    .services h1 {
        font-size: 60px;
        margin-bottom: 18px;
    }
    .services__menu p {
        margin-top: 50px;
        padding: 0 20px;
    }
    .services__banner {
        padding: 0;
        text-align: center;
    }
    .leaves {
        display: none;
    }
    .services__url a:nth-child(2) {
        margin-top: 15px;
    }
    .services__another {
        border: 0;
    }
    .services__another.flex {
        flex-wrap: wrap;
        border: 1px solid #fff3;
        margin-bottom: 20px;
    }
    .sentence {
        padding-top: 0;
        padding-bottom: 75px;
    }
    .services__another h2 {
        white-space: initial;
        text-align: center;
        margin-right: 0;
    }
    .service__title {
        font-size: 32px;
        margin-right: 0;
        text-align: center;
    }
    .article__content p {
        text-align: center;
    }
    .services__another.flex {
        justify-content: center;
    }
    .services__another.flex p {
        text-align: center;
    }
    .services__another .btn {
        margin-left: 0;
    }
    .services__another {
        padding: 29px 33px;
    }
    .services__another .btn {
        width: 100%;
        text-align: center;
    }
    .sentence .grid .grid {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .sentence .grid.grid-3 div p {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 25px;
    }
    .sentence__tel {
        justify-content: center;
    }
    .sentence-card {
        padding-right: 15px;
        padding-left: 15px;
    }
    .sentence-card_top {
        flex-direction: column;
        text-align: center;
    }
    .sentence .grid.grid-3 div p {
        margin-top: 25px;
    }
    .sentence-card_body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .services__url {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
    .services__another .btn {
        margin-top: 25px;
    }
    .company .grid p {
        font-size: 16px;
    }
    .company .grid h3 {
        font-size: 19.5px;
        text-align: center;
    }
    .services__url .btn {
        margin-right: 0;
        width: 100%;
    }
    .services__texts li {
        font-size: 17px;
    }
    .services__texts.grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .services__another .container {
        padding: 0 10px;
    }
    .services__another {
        border: 1px solid #fff5;
    }
    .sentence .grid.grid-3 div p {
        margin-top: 25px!important;
    }
    .philosophy .container {
        padding: 0 20px;
    }
    .team h1 {
        white-space: initial;
        font-size: 75px;
        line-height: 95px;
    }
    .team {
        height: 100vh;
        background: url(../img/banner-team.png) top left/cover no-repeat;
    }
    .philosophy h3 {
        font-size: 45px;
        line-height: 65px;
    }
    .articles-catalog h1 {
        text-align: center;
        font-size: 60px;
    }
    .articles-catalog {
        text-align: center;
    }
    .articles-catalog h2 {
        text-align: center;
        font-size: 36px;
    }
    .articles-catalog .grid h4 {
        font-size: 29px;
        text-align: center;
    }
    .articles-catalog .grid p {
        text-align: center;
    }
    .articles-catalog .grid time {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .all-articles h2 {
        text-align: center;
    }
    .articles-catalog .container {
        padding: 0 15px;
    }
}

.nav__menu {
    display: flex;
    align-items: center;
}

/* Анимация при бургере */
/* transform: translate3d(-370px,0,0);
filter: brightness(0.5) blur(4px); */
.content-move {
    transform: translate3d(-370px,0,0);
    filter: brightness(0.5) blur(4px);
}
section {
    transition: 0.5s all;
}
footer {
    transition: 0.5s all;
}

/* Загрузка страницы  */

.loader-wrapper {
    position: fixed;
    background: #0A1119;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    /* top: 38%; */
    /* transform: translateY(-50%); */
    z-index: 200;
    opacity: 1;
    transition: .6s all;
}

.loader {
    font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  top: 30%;
  opacity: 1;
  display: block;
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #0A1119;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
.theme {
    cursor: pointer;
    margin-right: 60px;
}
.theme img {
    width: 30px;
    filter: invert(1);
}
.footer-logo {
    width: 195px;
}
/* Иконка соц сетей в футере */
.social {
    position: fixed;
    bottom: 30px;
    right: 22px;
}
.main-icon {
    width: 71px;
    height: 71px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
}
.main-icon:hover {
    opacity: 0.9;
}
.main-icon img:first-child {
    max-width: 42px;
}
.main-icon img:nth-child(2) {
    position: absolute;
    right: 11px;
    top: 8px;
    animation: fall-leaf 3.5s ease-in-out infinite;
    max-width: 10px;
}
@keyframes fall-leaf {
    0% {
        top: 11px;
        transform: scale(0);
    }
    25% {
        transform: scale(1);
    }
    75% {
        transform: rotate(-90deg);
    }
    /* 50% {
        top: 75px;
        transform: rotate(-90deg);
    } */
    /* 75% {
        opacity: 0;
    } */
    100% {
        top: 75px;
        opacity: 0;
    }
}

/* Стилизуем иконки */
.social__telegram {
    background: #589DD2;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;cursor: pointer;
    margin-bottom: 25px;
}
.social__insta {
    background: radial-gradient(122.72% 144.38% at 1.83% 90.83%, #FED576 0%, #F47133 26.34%, #BC3081 60.91%, #4C63D2 100%);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;cursor: pointer;
    margin-bottom: 20px;
}
.social__wp {
    cursor: pointer;
}
.social__telegram:hover, .social__insta:hover, .social__wp:hover {
    filter: opacity(0.9);
}
.second-icons {
    /* background-color: #0005; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    position: absolute;
    /* border-radius: 5px; */
    bottom: 6rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all;
}
.visible {
    visibility: visible;
    opacity: 100%;
}
.filter-brightness {
    filter: brightness(0.5);
    animation: animate_pulse 1.5s infinite;
}
@keyframes animate_pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
	}
}
.article__card img {
    max-width: 260px;
    height: 240px;
}
.team-content h2 {
    margin-bottom: 50px;
}
.article h1 {
    margin-bottom: 20px;
}
.content-article {
    margin-top: 100px;
}
.article_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.maket img {
    max-height: 430px;
}
.article_content img {
    max-width: 550px;
}
@media (max-width:450px) {
    .language {
        margin-bottom: 4.5rem;
    }
}

.title {
    font-size: 40px;
    line-height: 55px;
}
.title::after {
    content: '';
    width: 100%;
    height: 4px;
    background:#1EBE74;
    display: block;
}
.working img {
    max-width: 100%;
}

.working {
    padding: 100px 0;
    padding-top: 0;
}
.ours {
    padding: 100px 0;
}
.ours-content-top {
    display: flex;
    justify-content: space-between;
}
.ours-item-top, .ours-item-mid, .ours-item-bottom {
    /* border: 3px solid #787878; */
    /* box-shadow: 0px 10px 20px 5px rgba(204, 204, 204, 0.1), 10px 0px 20px 5px rgba(204, 204, 204, 0.1); */
    width: 260px;
    height: 260px;
    /* border-radius: 50%; */
}
.ours-item-top:nth-child(1) {
    background: url(../img/1.png) center center/contain no-repeat;
    margin-top: 50px;
}
.ours-item-top:nth-child(2) {
    background: url(../img/2.png) center center/contain no-repeat;
}
.ours-item-top:nth-child(3) {
    background: url(../img/3.png) center center/contain no-repeat;
    margin-top: 50px;
}

.ours-content-mid {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.ours-item-mid:nth-child(1) {
    background: url(../img/4.png) center center/contain no-repeat;
}
.ours-item-mid:nth-child(3) {
    background: url(../img/5.png) center center/contain no-repeat;
}
/* .ours-item-mid-text {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    max-width: 520px;
} */
.ours-content-bottom {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.ours-item-bottom:nth-child(1) {
    background: url(../img/6.png) center center/contain no-repeat;
    margin-top: -50px;
}
.ours-item-bottom:nth-child(2) {
    background: url(../img/7.png) center center/contain no-repeat;
}
.ours-item-bottom:nth-child(3) {
    background: url(../img/8.png) center center/contain no-repeat;
    margin-top: -50px;
}
.ours-texts-top {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    padding: 25px 48px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 20px;
}
.ours-text-mid {
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    margin-top: 25px;
}
.ours-content {
    position: relative;
}
.ours-texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Новая страница услуг */
.services-content {
    padding-top: 130px;
    padding-bottom: 130px;
}
.services h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}
.service-subtitle {
    color: #fff;
    font-size: 20px;
    line-height: 19px;
    margin-top: 17px;
}
.service-grid {
    margin-top: 50px;
}
.service-tab-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    cursor: pointer;
}
.service-tab-item img {
    margin-right: 16px;
    max-width: 25px;
    filter: brightness(10);
}
.service-tab-item {
    font-size: 26px;
    color: #FFFFFF;
}
.tab-item-active {
    font-weight: bold;
    pointer-events: none;
}
.service-tab-content {
    font-size: 20px;
    line-height: 19px;
}
.services button {
    cursor: pointer;
    outline: none;
    border: none;
}
.btn-service.center {
    margin: 0 auto;
    display: block;
    margin-top: 65px;
}
.another-service {
    margin-top: 100px;
}
.service-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.service-tab {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.tab-active {
    font-weight: bold;
}
.service-content {
    margin-top: 26px;
    color: #ccc;
    font-size: 17px;
    line-height: 31px;
}
.another-service .btn {
    margin-top: 30px;
}

/* Телефонная адаптация новых страниц  */
@media screen and (max-width: 579px) {
    .title {
        order: -1;
        margin-bottom: 50px;
        font-size: 33px;
        line-height: 40px;
    }
    .working {
        padding: 50px 0;
    }
    .ours {
        padding: 50px 0;
    }
    .ours-content-top {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .ours-content-mid {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .ours-content-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ours-texts {
        position: initial;
        transform: none;
    }
    .ours-item-bottom:nth-child(3) {
        margin: 0;
    }
    .services h2 {
        text-align: center;
    }
    .service-tab-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }
    .service-tab-content {
        text-align: center;
    }
    .service-tabs {
        flex-direction: column;
    }
    .service-content {
        text-align: center;
    }
    .another-service .btn {
        margin: 0 auto;
        display: block;
        margin-top: 25px;
    }
    .services h2 {
        font-size: 31.5px;
    }
    .services {
        padding-top: 50px;
    }
    .portfolio-nav {
        flex-direction: column;
    }
    .portfolio-nav {
        padding-right: 0!important;
    }
    .portfolio-item.active {
        width: 100%;
        text-align: center;
    }
    .portfolio-lists {
        text-align: center;
    }
    .portfolio-descr {
        text-align: center;
    }
}
/* Новое портфолио  */
.portfolio {
    padding-bottom: 150px;
}
.portfolio h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}
.portfolio-subtitle {
    margin-top: 20px!important;
}
.portfolio-nav {
    display: flex;
    align-items: center;
    background: rgba(256, 256, 256, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    justify-content: space-between;
    /* justify-content: center; */
    padding-right: 30px;
}
.portfolio-item {
    border-radius: 20px;
    padding: 13px 26px;
}
.portfolio-item a {
    color: #494949;
    font-size: 20px;
    text-align: center;
}
.portfolio-item.active {
    background: #fff;
}
.portfolio-slider {
    margin-top: 75px;
}
.portfolio-slider .mac {
    max-width: 100%;
}
.mac {
    pointer-events: none;
}

/* Внутренняя страница портфолио  */
.content-portfolio-inside {
    background: url(../img/bg-2.png) center center/cover no-repeat;
}
.portfolio-inside {
    padding: 130px 0;
}
.portfolio-inside h1 {
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 20px;
}
.portfolio-inside-grid {
    gap: 50px;
    margin-top: 46px;
}
.portfolio-inside img {
    max-width: 100%;
}
.portfolio-descr {
    margin-top: 30px;
}
.portfolio-slider-wrap {
    position: relative;
    margin-top: 75px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-sliders {
    position: absolute;
    width: 998px;
    height: 71%;
    overflow: hidden;
    top: 23px;
    z-index: -1;
}
.portfolio-slider {
    margin-top: 0;
}
.portfolio-slider img {
    width: 100%;
}
.portfolio-slider-wrap:hover .portfolio-sliders {
    top: -50%;
    height: 120%;
}
.portfolio-slider-wrap .portfolio-sliders {
    transition: 15s linear all;
}

/* Адаптация портфолио  */
@media screen and (max-width: 579px) {
    .portfolio-sliders {
        top: 10px;
        max-width: 100%;
    }
    .portfolio-slider-wrap:hover .portfolio-sliders {
        top: -50%;
        height: 125%;
    }
    .portfolio-slider-wrap .portfolio-sliders {
        transition: 10s linear all;
    }
    .mac {
        pointer-events: none;
    }
    .portfolio-slider-next, .portfolio-slider-back {
        display: none;
    }
    .ours-content-top {
        display: none;
    }
    .ours-item-bottom {
        display: none;
    }
    .ours-content-mid {
        display: none;
    }
}

.portfolio-slider-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
.portfolio-slider-back {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
