/* Белая тема */
:root {
    --bg-color-wh: #fff;
    --text-color-wh: #000;
    --card-bg-wh: #e8e8e8;
}
.main h1 {
    color: #06b734;
}
body {
    background-color: #fff;
    color: #000;
}
.black-text {
    color: var(--text-color-wh);
}
.article__card.flex {
    background: var(--card-bg-wh);
}
.ball, .light-ball {
    background: radial-gradient(96% 96% at 70.4% 31.2%, #FEEC5A 0%, rgba(0, 2, 16, 0) 100%), #FFD337;
box-shadow: 0px 0px 20px #FFE300, 60px 120px 80px #FEEC5A, 0px 4px 80px #FEEC5A, inset 0px 2px 10px rgba(255, 255, 255, 0.58), inset 10px 20px 100px #F9A400;
}
.mains-yellow {
    background: radial-gradient(96% 96% at 70.4% 31.2%, #FEEC5A 0%, rgba(0, 2, 16, 0) 100%), #FFD337;
    box-shadow: 0px 0px 20px #ffe300, 60px 120px 80px #feec5a, 0px 4px 80px #feec5a, inset 0px 2px 10px rgb(255 255 255 / 58%), inset 10px 20px 100px #f9a400;
}
.btn {
    background: transparent;
    border: 1px solid #000;
    color: #000;
}
.btn:hover {
    background: #132332;
    color: #fff;
}
.footer h3 {
    color: #000;
}
.footer li a {
    color: #000;
}
.information h2 {
    color: #000;
}
a {
    color: #000;
}
.footer .grid-4 a p {
    color: #fff;
}
.review {
    background: #F19F00;
    color: #fff;
    box-shadow: none;
}
.ball:nth-child(3) {
    background: radial-gradient(96% 96% at 70.4% 31.2%, #F9A400 0%, rgba(0, 2, 16, 0) 100%), #F9A400;
    box-shadow: 0px 4px 80px #F9A400, inset 0px 2px 10px rgba(249, 164, 0, 0.35), inset 10px 20px 100px #F9A400;
}
.ball:nth-child(9) {
    background: radial-gradient(96% 96% at 70.4% 31.2%, #FEEC5A 0%, rgba(0, 2, 16, 0) 100%), #F9A400;
    box-shadow: 0px 4px 80px #FEEC5A, inset 0px 2px 10px rgba(255, 255, 255, 0.58), inset 10px 16px 20px #F9A400;
}
.ball:nth-child(6) {
    background: radial-gradient(96% 96% at 70.4% 31.2%, #FEEC5A 0%, rgba(0, 2, 16, 0) 100%), #FEEC5A;
    box-shadow: 0px 4px 80px #FEEC5A, inset 0px 2px 10px rgba(255, 255, 255, 0.58), inset 10px 20px 30px #FEEC5A;
}
.main p {
    color: #06b734;
}
/* .company .grid div:nth-child(2) {
    background: url(../img/texts.png) bottom right/auto no-repeat #D76700;
} */
.company .grid div {
    background: linear-gradient(0deg, #88C800, #88C800), #729821;
}
.company .grid div:nth-child(3) {
    background: #006FBB;
}
.company .grid div:nth-child(4) {
    background: #BD4841;
}
.company .grid div:last-child {
    background: #DE04BB;
}
.company .grid-3 {
    color: #fff;
}
.article .grid div:nth-child(2) {
    background: #e8e8e8;
}
h2 {
    color: #000;
}
.card.active p {
    color: #fff;
}
.card.active h3 {
    color: #fff;
}
.footer {
    background: #f2f2f2;
}
.footer__bottom {
    background: #e8e8e8;
}
.footer li {
    color: #000;
}
.navbar .icon-phone {
    color: #000;
}
.navbar-scroll {
    background: #e8e8e8;
}
.review__stars span {
    color: #fff;
}
@media(max-width: 769px) {
    .nav__menu {
        background: #e8e8e8;
    }
    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
        background: #000;
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background: #000;
    }
    .navbar span.hamburger-inner {
        background: #000;
    }
}
.language__select span {
    color: #000;
}
.main-icon {
    background-color: #000;
}
.main-icon img:first-child {
    filter: invert(1);
}
.articles-catalog .grid {
    background: transparent;
}
.grid .item {
    background: #e8e8e8;
}
